.menuGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    grid-template-rows: repeat(5, 1fr); /* 5 rows */
    gap: 15px; /* Space between the buttons */
    height: 90vh; /* Full height of the viewport */
    justify-items: center; /* Center buttons horizontally */
    align-items: center; /* Center buttons vertically */
    padding: 20px;
  }
  
  .menuButton {
    width: 200px;
    height: 160px;
    font-size: 20px;
    background-color: #4CAF50;
    color: white;
    border: hotpink;
    border-radius: 10px;
    border-color: #512d38;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .menuButton:hover {
    transform: scale(1.05);
  }
  
  .menuButton:active {
    transform: scale(0.95);
  }
  